body{
    background-color: brown;
    margin: auto;
    width: 1200px;
}
header{
    width: 1200px;
    height: 96px;
    background-color: rgb(97, 23, 23);
}
main{
    background-color: rgb(213, 78, 78);
    min-height: 820px;
    width: 1200px;
}
footer{
     width: 1200px;
    height: 216px;
    background-color: rgb(97, 23, 23);
}